<ion-view view-title="Remote">
  <ion-content class="center" scroll="false">
    <div class="remote-button ion-arrow-up-b" ng-click="up()"></div>
    <div class="remote-button ion-arrow-right-b" ng-click="right()"></div>
    <div class="remote-button ion-arrow-down-b" ng-click="down()"></div>
    <div class="remote-button ion-arrow-left-b" ng-click="left()"></div>
    <div class="remote-button-text remote-menu button" ng-click="menu()">menu</div>
    <div class="remote-button-text remote-play button" ng-click="play()">play</div>
  </ion-content>
</ion-view>
