<ion-view view-title="Remote">
  <ion-content scroll="false" on-drag="">
    <div class="center">
      <svg
              xmlns:dc="http://purl.org/dc/elements/1.1/"
              xmlns:cc="http://creativecommons.org/ns#"
              xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
              xmlns:svg="http://www.w3.org/2000/svg"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              id="svg2"
              viewBox="0 0 312.12478 312.20628"
              height="88.111549mm"
              width="88.088547mm">
        <defs
                id="defs4">
          <filter
                  id="filter5226"
                  style="color-interpolation-filters:sRGB">
            <feFlood
                    id="feFlood5228"
                    result="flood"
                    flood-color="rgb(0,0,0)"
                    flood-opacity="0.478431" />
            <feComposite
                    id="feComposite5230"
                    result="composite1"
                    operator="in"
                    in2="SourceGraphic"
                    in="flood" />
            <feGaussianBlur
                    id="feGaussianBlur5232"
                    result="blur"
                    stdDeviation="1.5"
                    in="composite1" />
            <feOffset
                    id="feOffset5234"
                    result="offset"
                    dy="0"
                    dx="0" />
            <feComposite
                    id="feComposite5236"
                    result="composite2"
                    operator="over"
                    in2="offset"
                    in="SourceGraphic" />
          </filter>
          <filter
                  id="filter5238"
                  style="color-interpolation-filters:sRGB">
            <feFlood
                    id="feFlood5240"
                    result="flood"
                    flood-color="rgb(0,0,0)"
                    flood-opacity="0.478431" />
            <feComposite
                    id="feComposite5242"
                    result="composite1"
                    operator="in"
                    in2="SourceGraphic"
                    in="flood" />
            <feGaussianBlur
                    id="feGaussianBlur5244"
                    result="blur"
                    stdDeviation="1.5"
                    in="composite1" />
            <feOffset
                    id="feOffset5246"
                    result="offset"
                    dy="0"
                    dx="0" />
            <feComposite
                    id="feComposite5248"
                    result="composite2"
                    operator="over"
                    in2="offset"
                    in="SourceGraphic" />
          </filter>
          <filter
                  id="filter5250"
                  style="color-interpolation-filters:sRGB">
            <feFlood
                    id="feFlood5252"
                    result="flood"
                    flood-color="rgb(0,0,0)"
                    flood-opacity="0.478431" />
            <feComposite
                    id="feComposite5254"
                    result="composite1"
                    operator="in"
                    in2="SourceGraphic"
                    in="flood" />
            <feGaussianBlur
                    id="feGaussianBlur5256"
                    result="blur"
                    stdDeviation="1.5"
                    in="composite1" />
            <feOffset
                    id="feOffset5258"
                    result="offset"
                    dy="0"
                    dx="0" />
            <feComposite
                    id="feComposite5260"
                    result="composite2"
                    operator="over"
                    in2="offset"
                    in="SourceGraphic" />
          </filter>
          <filter
                  id="filter5262"
                  style="color-interpolation-filters:sRGB">
            <feFlood
                    id="feFlood5264"
                    result="flood"
                    flood-color="rgb(0,0,0)"
                    flood-opacity="0.478431" />
            <feComposite
                    id="feComposite5266"
                    result="composite1"
                    operator="in"
                    in2="SourceGraphic"
                    in="flood" />
            <feGaussianBlur
                    id="feGaussianBlur5268"
                    result="blur"
                    stdDeviation="1.5"
                    in="composite1" />
            <feOffset
                    id="feOffset5270"
                    result="offset"
                    dy="0"
                    dx="0" />
            <feComposite
                    id="feComposite5272"
                    result="composite2"
                    operator="over"
                    in2="offset"
                    in="SourceGraphic" />
          </filter>
          <filter
                  id="filter5274"
                  style="color-interpolation-filters:sRGB">
            <feFlood
                    id="feFlood5276"
                    result="flood"
                    flood-color="rgb(0,0,0)"
                    flood-opacity="0.478431" />
            <feComposite
                    id="feComposite5278"
                    result="composite1"
                    operator="in"
                    in2="SourceGraphic"
                    in="flood" />
            <feGaussianBlur
                    id="feGaussianBlur5280"
                    result="blur"
                    stdDeviation="1.5"
                    in="composite1" />
            <feOffset
                    id="feOffset5282"
                    result="offset"
                    dy="0"
                    dx="0" />
            <feComposite
                    id="feComposite5284"
                    result="composite2"
                    operator="over"
                    in2="offset"
                    in="SourceGraphic" />
          </filter>
        </defs>
        <metadata
                id="metadata7">
          <rdf:RDF>
            <cc:Work
                    rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type
                      rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <g
                transform="translate(24.700317,-658.26421)"
                id="layer1">
          <g
                  transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,614.32177,145.73065)"
                  id="g4280">
            <path   ng-click="right()"
                    style="fill:#ffffff;fill-opacity:1;stroke:#c8c8c8;stroke-opacity:1;filter:url(#filter5262);stroke-width:0.05;stroke-miterlimit:4;stroke-dasharray:none"
                    d="m 131.73013,714.03276 0,54.99997 a 45,45 0 0 1 45,45 l 55,0 a 100,100 0 0 0 -100,-99.99997 z"
                    id="path4169" />
            <path   ng-click="left()"
                    style="fill:#ffffff;fill-opacity:1;stroke:#c8c8c8;stroke-opacity:1;filter:url(#filter5238);stroke-width:0.05;stroke-miterlimit:4;stroke-dasharray:none"
                    d="m 131.08812,914.80183 0,-54.99997 a 45,45 0 0 1 -44.999992,-45 l -55,0 a 100,100 0 0 0 99.999992,99.99997 z"
                    id="path4169-3" />
            <path   ng-click="up()"
                    style="fill:#ffffff;fill-opacity:1;stroke:#c8c8c8;stroke-opacity:1;filter:url(#filter5274);stroke-width:0.05;stroke-miterlimit:4;stroke-dasharray:none"
                    d="m 30.766724,814.06519 54.99998,0 a 45,45 0 0 1 44.999996,-45 l 0,-55 a 100,100 0 0 0 -99.999976,100 z"
                    id="path4169-7" />
            <path   ng-click="down()"
                    style="fill:#ffffff;fill-opacity:1;stroke:#c8c8c8;stroke-opacity:1;filter:url(#filter5226);stroke-width:0.05;stroke-miterlimit:4;stroke-dasharray:none"
                    d="m 231.6511,814.70723 -54.99992,0 a 45,45 0 0 1 -45.00002,44.99996 l 0,54.99999 a 100,100 0 0 0 99.99994,-99.99995 z"
                    id="path4169-3-2" />
          </g>
            <line x1="130" y1="735" x2="100" y2="755" style="stroke:rgb(200,200,200);stroke-width:2;"></line>
            <line x1="160" y1="755" x2="130" y2="735" style="stroke:rgb(200,200,200);stroke-width:2;"></line>
            <line x1="130" y1="895" x2="100" y2="875" style="stroke:rgb(200,200,200);stroke-width:2;"></line>
            <line x1="160" y1="875" x2="130" y2="895" style="stroke:rgb(200,200,200);stroke-width:2;"></line>

            <line x1="70" y1="785" x2="50" y2="815" style="stroke:rgb(200,200,200);stroke-width:2;"></line>
            <line x1="70" y1="845" x2="50" y2="815" style="stroke:rgb(200,200,200);stroke-width:2;"></line>
            <line x1="195" y1="785" x2="215" y2="815" style="stroke:rgb(200,200,200);stroke-width:2;"></line>
            <line x1="195" y1="845" x2="215" y2="815" style="stroke:rgb(200,200,200);stroke-width:2;"></line>
          <circle ng-click="play()"
                  transform="matrix(0.96029593,0,0,0.96514701,5.2103271,28.196342)"
                  r="42.5"
                  cy="814.67383"
                  cx="131.22906"
                  id="path4286"
                  style="fill:#ffffff;fill-opacity:1;stroke:#c8c8c8;stroke-width:0.05214859;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5250)" />
        </g>
      </svg>


        <div class="remote-button-text remote-menu button" ng-click="menu()">menu</div>
        <div class="remote-button-text remote-play button" ng-click="play()">play</div>



    </div>
  </ion-content>
</ion-view>
